# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime files
node_modules/
dist/
dist-ssr/
scripts-dist/

# Local env files
.env
.env.*.local

# Firebase service account key
/serviceAccountKey.json

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite build output
/dist

# Key files
*.pem
*.key
